div.venta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .tableCatalogo {
        width: 100%;
        tr {
            td {
                padding: 0 10px;
                border: 1px dotted grey;
            }
            td.center{
                text-align: center;
            }
            td.numero {
                text-align: right;
            }
            td.monto::before {
                content: "$  ";
            }
        }
    }
    .detalleVenta {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #btnRealizarVenta {
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
        font-family: "Jura", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        box-sizing: border-box;
        border-radius: 10px;
    }
}
