<div class="prompt">
    <div class="prompt__question">
        <label for="prompt__msg">
            <p>
                ###MSG###
            </p>
            <input type="text" name="prompt__input" id="prompt__input" placeholder="###PLACEHOLDER###">
        </label>
    </div>
    <div class="prompt__buttons">
        <button class="prompt_button" id="prompt_ok" onclick='###FUNCTION_OK###'>
            <i class="fa fa-check" aria-hidden="true"></i> ###OK_BTN###
        </button>
        <button class="prompt_button" id="prompt_cancel" onclick='###FUNCTION_CANCEL###'>
            <i class="fa fa-times" aria-hidden="true"></i> ###CANCEL_BTN###
        </button>
    </div>
</div>